// обнуление стилей
@import "_nullstyle";

//шрифт
@import "fonts";

body {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
}
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px; 
}
.wrap-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px; 
}
.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding-bottom: 10px;
    padding-right: 30px;
    position: relative;
    &::after{
        content: '';
        width: 253px;
        height: 3px;
        background-color: #006DFE;
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width: 767px) {
            width: 150px;
        }
    }
    @media (max-width: 767px) {
        font-size: 28px;
        line-height: 32px;
    }
}
.link {
    display: inline-block;
    padding-right: 59px;
    color: #006DFE;
    background: url(../img/svg/arrow-ico.svg) no-repeat 95% center;
    transition: 0.2s;
    &:hover, &:focus {
        background: url(../img/svg/arrow-ico.svg) no-repeat right center;
    }
}

// header style
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: .2s linear;
    a:hover, a:active, a:focus {
        opacity: 0.8;
    }
}
.header_active { // активируется при скролинге
    background: #0E1D28;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 56px 0 20px;
    @media (max-width: 767px) {
        padding: 20px 0 20px;
    }
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    li {
        margin-right: 82px;
        &:last-child {
            margin: 0;
        }
        a {
            font-size: 18px;
            color: #FFFFFF;
            text-decoration: none;
            @media (max-width: 767px) {
                font-size: 42px;
                line-height: 48px;
            }
        }
        @media (max-width: 767px) {
            margin-right: 0;
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

 @media (max-width: 767px) {
    .header__close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 55px;
        right: 15px;
        z-index: 11;
    }
    .header__close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        &:first-child {
            transform: translateY(-50%) rotate(45deg);
        }
        &:last-child {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    .header__menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%); // меню скрывается, съезжая вправо на всю свою ширину
        transition: .2s all linear; 
    }
    .header__menu-active {
        transform: translateX(0);
    }
}

.header__burger {
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}
.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.burger__line-first {
    top: 0;
}
.burger__line-second {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line-third {
    bottom: 0;
}

// intro style
.intro {
    min-height: 100vh;
    background: url(../img/intro-bg-min.jpg) no-repeat center/cover;
    padding-top: 263px;
    padding-bottom: 223px;
    @media (max-width: 767px) {
        padding-top: 170px;
        padding-bottom: 50px;
    }
}
.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
    @media (max-width: 767px) {
        font-size: 47px;
        line-height: 50px;
    }
}
.intro__text {
    max-width: 546px;
    color: #FFFFFF;
    margin-bottom: 59px;
}
.intro__form {
    margin-bottom: 153px; 
}
.intro__search {
    display: flex;
    flex-wrap: wrap;
    input {
        margin-right: 60px;
        background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px / 20px;
        border: 0;
        border-bottom: 2px solid #BFC0C5;
        width: 297px;
        padding: 0 0 22px 43px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        &::placeholder {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
        }
        @media (max-width: 950px) {
            margin-bottom: 25px;
            background: transparent url(../img/svg/circle-ico.svg) no-repeat left 2px / 20px;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-right: 0;
            padding-bottom: 18px;
        }
    }

    button {
        padding: 15px 39px;
        background: #1B7DFF;
        border: 0;
        font-weight: 500;
        font-size: 24px;
        color: #FFFFFF;
        text-transform: uppercase;
        &:focus, &:hover, &:active {
            background: rgb(15, 77, 158);
        }
        @media (max-width: 950px) {
            margin-bottom: 25px;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }

} 

// benefits style 
.benefits {
    margin-bottom: 131px;
    @media (max-width: 950px) {
        margin-bottom: 120px;
    }
    @media (max-width: 767px) {
        margin-bottom: 80px;
    }
}
.benefits__wrap {
    max-width: 1262px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits__title {
    width: 100%;
    padding: 93px 100px 88px;
    font-weight: 500;
    font-size: 35px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: #FFFFFF;
    @media (max-width: 950px) {
        padding: 73px 50px 58px;
    }
    @media (max-width: 767px) {
        font-size: 30px;
        line-height: 35px;
        padding: 53px 30px 15px;
    }
}
.benefits__cards {
    padding: 32px 100px 112px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    @media (max-width: 950px) {
        padding: 32px 15px 82px;
        column-gap: 40px;
    }
    @media (max-width: 767px) {
        padding-bottom: 30px;
    }
}
.benefits__card {
    grid-column: span 1;
    display: grid;
    grid-template: auto auto 1fr auto/1fr;
    h3 {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 26px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    p {
        margin-bottom: 39px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    @media (max-width: 767px) {
        grid-column: span 3;
        margin-bottom: 50px;
    }
}
.benefits__image {
    max-width: 66px;
    margin-bottom: 37px;
    img {
        display: block; // так указывать для svg изображений 
    }
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

// places style 
.places {
    margin-bottom: 131px;
    @media (max-width: 950px) {
        margin-bottom: 120px;
    }
    @media (max-width: 767px) {
        margin-bottom: 80px;
    }
}
.places__header {
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.places__title {
    @media (max-width: 645px) {
        margin-bottom: 15px;
    }
}
.places__cards {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;  
}
.places__card {  // трансформ сделать!!!!
    position: relative; 
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
        @media (max-width: 950px) {
            height: 354px;
        }
        @media (max-width: 767px) {
            height: 230px;
        }
    }
    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(21, 24, 36, 0.4);
        z-index: 2;
    }
    div {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
        position: absolute;
        bottom: 27px;
        left: 30px;
        width: 100%;
        z-index: 3;
        @media (max-width: 767px) {
            font-size: 40px;
            line-height: 50px;
        }
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    &-lg {
        grid-column: span 3;
    }
    &-sm {
        grid-column: span 2;
    }
    &:hover {
        transition: 0.15s;
        img {
            transform: scale(1.05);
        }
    }
    @media (max-width: 950px) {
        grid-column: span 6;
    }
}
.places__pic-lg {
    height: 354px;
}
.places__pic-sm {
    height: 283px;
}

// tours style 
.tours {
    margin-bottom: 139px;
    @media (max-width: 950px) {
        margin-bottom: 120px;
    }
    @media (max-width: 767px) {
        margin-bottom: 80px;
    }
}
.tours__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 77px;
    align-items: center;
    @media (max-width: 950px) {
        column-gap: 50px;
    }
}

.tours__card-top {
    margin-bottom: 77px;
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
}
.tours__image {
    max-width: 597px;
    @media (max-width: 767px) {
        grid-column: span 2;
        margin-bottom: 15px;
    }
}
.tours__image-top {
    @media (max-width: 767px) {
        grid-row-start: -1;
    }
}
.tours__info {
    padding-left: 47px;
    @media (max-width: 950px) {
        padding-left: 0;
    }
    @media (max-width: 767px) {
        grid-column: span 2;
    }
    h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 45px;
        @media (max-width: 950px) {
            margin-bottom: 20px;
        }
        @media (max-width: 767px) {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 15px;
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 58px;
        @media (max-width: 950px) {
            margin-bottom: 20px;
        }
        @media (max-width: 950px) {
            margin-bottom: 15px;
        }
    }
}


// visits style 
.visit {
    margin-bottom: 144px;
    @media (max-width: 950px) {
        margin-bottom: 120px;
    }
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
}
.visit__title {
    margin-bottom: 54px;
    @media (max-width: 767px) {
        margin-bottom: 35px;
    }
}
.visit__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 58px;
    @media (max-width: 950px) {
        column-gap: 30px;
        row-gap: 55px;
    }
}
.visit__card {
    grid-column: span 2;
    @media (max-width: 950px) {
        grid-column: span 3;
    }
    @media (max-width: 767px) {
        grid-column: span 6;
    }
}
.sity-card {
    display: grid;
    grid-template: auto 1fr minmax(42px, auto)/1fr;
}
.sity-card__picture {
    position: relative;
    max-width: 386px;
    max-height: 100%;
    margin-bottom: 45px;
    @media (max-width: 950px) {
        margin-bottom: 30px;
    }
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
    .sity-card__info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px ;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        background: rgba(21, 24, 36, 0.6);
        .sity-card__like { 
            display: flex;
            flex-wrap: wrap;
            p:first-child {
                padding-right: 19px;
                background: url(../img/svg/like-ico.svg) no-repeat right center;
            }
            p:last-child {
                margin-left: 14px;
                padding-right: 23px;
                background: url(../img/svg/comment-ico.svg) no-repeat right center;
            }
        }
    }
}
.sity-card__text {
    margin-bottom: 30px;
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}
.sity-card__link {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: white;
    height: 100%;
    max-width: 118px;
    background: #006DFE;
    padding: 11px 19px;
    &:focus, &:hover, &:active {
            background: rgb(15, 77, 158);
        }
}

// video style 
.video {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width: 950px) {
        padding-left: 0;
        padding-right: 0;
    }
}

// footer style
footer {
    background: #0E1D28;
    a:focus, a:hover, a:active {
            opacity: 0.8;
        } 
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 118px 0;
    justify-content: space-between;
    @media (max-width: 950px) {
        padding: 90px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }
}
.footer__menu {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767px) {
        width: 100%;
        justify-content: space-between;
    }
}
.footer__list {
    padding-right: 139.5px;
    &:last-child{
        padding-right: 0;
    }
    li {
        padding-bottom: 3px;
    }
    li:last-child {
        padding-bottom: 0;
    }
    .footer__list-title {
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    a {
        text-decoration: none;
        font-size: 16px;
        color: #FFFFFF; 
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }  
    @media (max-width: 767px) {
        padding-right: 10px;
        width: 33.3%;
    }
}
.footer__logo {
    @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

